<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1 text-center">
    <br/>
    <H1>Learn Golf from the Pros</H1>
    <br/>
    <H2>Any Time, Any Place</H2>
    <br/>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br/><br/>
  </div>
</div>