<br/>

<div class="booyah-box col-10 offset-1">
  <h1>About The Team</h1>
  <br/>  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'alan.JPG', class: 'img-fluid team' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <p>Alan Unruh is a web developer and previously helped mangage <a target="_blank" href="https://www.globalgolf.com/">GlobalGolf</a>, <a target="_blank" href="https://www.3balls.com/">3Balls</a>, <a target="_blank" href="https://www.taylormadegolfpreowned.com/">TaylorMadeGolfPreowned</a>, <a target="_blank" href="https://www.golfshoesonly.com/">GolfShoesOnly</a> & <a target="_blank" href="https://www.fairwaystyles.com/">FairwayStyles</a>.</p>
      <br/>
      <p>Get in touch with Alan via email at <%= link_to 'alan.unruh@gmail.com', 'mailto:alan.unruh@gmail.com' %>.</p>
    </div>
  </div>
</div>
<br class="clear" />